.jjuniv-slider > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.75s;
}

.jjuniv-slider > .current {
  transform: translateX(0);
  z-index: 2;
}

.jjuniv-slider > .current ~ * {
  transform: translateX(100%);
}
